* {
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
  text-align: center;
  background-color: #a5e4f6;
}

header {
  text-align: center;
  margin-top: 50px;
}

main {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 4fr 3fr;
}

h1 {
  font-size: 350%;
  line-height: 30%;
  padding: 0 auto;
  margin-bottom: 20px;
  color: rgb(58, 53, 53);
}

h4 {
  line-height: 30%;
  margin-top: 0;
  font-size: 24px;
  color: #2f4c6e;
}

.main_left {
  /*border: 5px solid fuchsia;*/
  display: flex;
}

.mish{
  /*border: 5px solid rgb(0, 0, 0);*/
  display: flex;
}

.main_right {
  border: 5px solid #373636;
  border-radius: 10px;
  width: 500px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  background-color: #60605f;
}

.gameplay {
  /*border: 5px solid pink;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gameplays {
  /*border: 5px solid pink;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feedback_container {
  /*border: 5px solid fuchsia;*/
  color: rgb(255, 0, 0);
  height: 90px;
  width: 250px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border: 5px solid #917756;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 500px;
  background-color: #e8b776;
  color: rgb(114, 114, 114);
}

.console {
  border: 8px solid #373636;
  border-left: 0px solid #373636;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  height: 580px;
  width: 280px;
  margin-top: 50px;
  background-color: #000000;
  color: rgb(114, 114, 114);
}

.miniboard{
  border: 5px solid #0e0e0e;
  border-radius: 20px;
  display: grid;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #393636;
  color: rgb(114, 114, 114);
}

.miniminiboard{
  border: 5px solid #3c3c3c;
  border-radius: 10px;
  display: grid;
  width: 300px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ebebeb;
  color: rgb(114, 114, 114);
}

.left {
  /*border: 5px solid rgb(72, 177, 174);*/
  border-right: 2px solid#483d2e;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.pin_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

#guess10,
#guess9,
#guess8,
#guess7,
#guess6,
#guess5,
#guess4,
#guess3,
#guess2 {
  border-bottom: 2px solid #8d5400;
}

#guess {
  border-top: 2px solid #8d5400;
  padding-top: 14px;
  padding-bottom: 8px;
  margin-top: 2px;
}

.big_pin,
.guess_pin {
  border: 3px solid rgb(53, 51, 51);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(217, 180, 139);
  line-height: 110%;
}

.disabled_btn {
    opacity: 0.5;
    cursor: not-allowed !important;
}

#answer {
  border-bottom: 2px solid #8d5400;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
}

#answer > .big_pin {
  line-height: 140%;
  font-size: larger;
  background-color: rgb(207, 187, 165);
  color: rgb(0, 0, 0);
}

.right {
  /*border: 5px solid pink;*/
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.ans_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 auto;
  margin-top: 2px;
}

.ans_containers {
  /*border: 1px solid fuchsia;*/
  display: flex;
  height: 180px;
  width: 370px;
  justify-content: space-around;
  align-items: center;
  padding: 0 auto;
}

#ans10,
#ans9,
#ans8,
#ans7,
#ans6,
#ans5,
#ans4,
#ans3,
#ans2,
#none {
  border-bottom: 2px solid #8d5400;
}

.small_pin {
  border: 3px solid rgb(37, 36, 36);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 0;
  font-size: 15px;
  background-color: rgb(138, 138, 138);
}

#color_select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.selector_pin {
  border: 2px solid rgb(0, 0, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 20%;
  background-color: rgb(184, 161, 134);
}
#red {
  background-color: rgb(255, 0, 0);
}

#blue {
  background-color: #19d7f9ff;
}

#green {
  background-color: #3cf12cff;
}

#yellow {
  background-color: #fffb00ff;
}

#orange {
  background-color: rgb(255, 165, 0);
}

#purple {
  background-color: #3d1696ff;
}

.button {
  border: 4px solid rgb(70, 69, 69);
  display: flex;
  border-radius: 10px;
  width: 150px;
  height: 65px;
  margin: 5px;
  font-size: 28px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgb(123, 119, 119);
  color: rgb(255, 255, 255);
}


.buttons {
  border: 4px solid rgb(70, 69, 69);
  display: flex;
  border-radius: 10px;
  width: 190px;
  height: 75px;
  margin: 5px;
  font-size: 28px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgb(123, 119, 119);
  color: rgb(255, 255, 255);
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #e6c174;
  font-size: 12px;
  border: 1px solid #fae9c8;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.sweet-hover:not([disabled]):hover {
  background-color: #fdce69;
}